services:

  redis:
    image: "redis:8.2.3-alpine3.22"
    container_name: "${COMPOSE_PROJECT_NAME}_redis"
    networks:
      - "network"
    restart: always
    command: 'redis-server --save "" --appendonly no --loglevel warning --requirepass "$REDIS_PASSWORD"'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDISCLI_AUTH: ${REDIS_PASSWORD}

  easyrsa:
    image: "${COMPOSE_PROJECT_NAME}_easyrsa"
    container_name: "${COMPOSE_PROJECT_NAME}_easyrsa"
    build:
      context: "easyrsa"
    volumes:
      - "./easyrsa/ca:/ca:rw"
    network_mode: none

  openvpn:
    image: "${COMPOSE_PROJECT_NAME}_openvpn"
    container_name: "${COMPOSE_PROJECT_NAME}_openvpn"
    build:
      context: "openvpn"
    volumes:
      - "./openvpn/config:/etc/openvpn"
    networks:
      - "network"
    ports:
      - "1194:1194/udp"
    restart: always
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_HOST: "${COMPOSE_PROJECT_NAME}_redis"
      REDIS_PORT: 6343
    cap_add:
      - "NET_ADMIN"
    devices:
      - "/dev/net/tun"
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv6.conf.all.forwarding: "1"

networks:
  network:
    name: ${COMPOSE_PROJECT_NAME}
    driver: "bridge"
    external: false
    internal: false
